.wrapper {
  font-family: "Open Sans", sans serif;
  font-size: 40px;
  font-weight: bold;

  width: 400px;
  height: 250px;
  margin: 80px auto;

  border-radius: 10px;

  .text {
    height: 100%;
    width: 100%;
    color: #fff;
    background: #2196f3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
