.button {
  cursor: pointer;
  background: #1b2f33;
  background: rgba(27, 47, 51, 1);
  border-radius: 16px;
  -moz-border-radius: 16px;
  color: #fefe72;
  font-size: 40px;
  padding: 10px;
  min-width: 150px;
  -webkit-box-shadow: 7px 7px 22px #000000;
  -moz-box-shadow: 7px 7px 22px #000000;
  box-shadow: 7px 7px 22px #000000;
  font-family: Verdana, Geneva, sans-serif;

  &:hover {
    background-color: #353738;
  }

  &:disabled {
    background-color: gray;
  }
}
