.actionButton {
	button {
		cursor: pointer;
		background-color: #4242e8;
		color: white;
		font-size: 20px;
		padding: 15px;
		border-radius: 5px;
		-webkit-appearance: none;
		border: none;
		&:active {
			background-color: #5252ff;
		}
		&:focus {
			outline: 0;
		}
	}
}
