@font-face {
  font-family: funHouse;
  src: url(/fonts/Funhouse.ttf);
}

.button {
  cursor: pointer;
  background: #1b2f33;
  background: rgba(27, 47, 51, 1);

  border: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;

  padding: 20px;
  min-width: 150px;
  height: 75px;

  -webkit-box-shadow: 7px 7px 22px #000000;
  -moz-box-shadow: 7px 7px 22px #000000;
  box-shadow: 7px 7px 22px #000000;

  color: rgb(255, 253, 130);
  font-size: 32px;
  font-family: funHouse;

  &:hover {
    background-color: #152427;
  }

  &:disabled {
    background-color: #a5a5a5;
  }
}
